sudo: required
language: c
services:
  - docker

before_install:
  - docker-compose build .

script: 
  - docker-compose run --rm builder ./configure
  - docker-compose run --rm builder make

notifications:
  slack:
    secure: kXWHt2FwGzohgwmwDH262R3B359iRmsjPE/wF90ur6/TOfTvxuZicpPOVWsglgDgVP92zMklwgOs941IJmg4VVvqjuvDYeaMB+KLHvxb4Vl0pOg7mLpOXmIVt3NwL3+miSwoQ24XHJb6vGzubeHAjSXpD0N1tVxb792DvHztDTo=
