#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@  --with autotools-dev

config.h:
	./configure

override_dh_auto_clean: config.h

override_dh_auto_configure: config.h

override_dh_auto_build:
	make Q= CFLAGS="-std=gnu99 -pipe -O2 -g" DESTDIR=$(CURDIR)/debian/pktvisor PREFIX=/usr

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/pktvisor PREFIX=/usr install
